.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }
   .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }
  .product-buyer-name {
    max-width: 650px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

    .hr::before{
      border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    }

    .hr::after{
      border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
    .ant-list-split .ant-list-header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
    .ant-list-split .ant-list-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important ;
  }

    .content {
      width: 500px;
      height: 200px;
      margin: 0 auto; /*水平居中*/
      position: relative;
      top: 50%; /*偏移*/
      margin-top: -150px; 
  }

   hr {/*内嵌水平线*/
    width:100%;
    margin:4 auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }